<div *ngIf="posts; else loading" class="posts">
  <div class="form-control">
    <label>
      <input id='find' type="text" placeholder="Find post..." [(ngModel)]="searchStr">
    </label>
    <button (click)="find(); page = 1" class="btn btn-dark">Find</button>
    <button (click)="clearSearchQuery()" class="btn btn-dark">Clear search</button>
    <button (click)="reset()" class="btn btn-dark">Reset all</button>
  </div>
  <div>
    <select name="limit" id="limit" [(ngModel)]="limit" (change)="newLimit()">
      <option *ngFor="let perPage of paginateParams.optionsPerPage">{{perPage}}</option>
    </select>
  </div>
    <app-post
      *ngFor="let post of posts | paginate: paginateParams"
      [post]="post"
    ></app-post>
  <pagination-controls (pageChange)="changePage($event)" id="{{paginateParams.id}}"></pagination-controls>
</div>

<ng-template #loading>
  <p class="text-center">Load posts...</p>
</ng-template>
